:root {
    --bg-white: #ffffff;
    --bg-body: #f2f4f7;
    --text-primary: #080809;
    --text-secondary: #303031;
    --primary-custom: #65686c;
    --bg-primary-custom: #f2f2f2;
    --shadow: 0 4px 12px rgba(0,0,0,0.05);
    --bg-backtotop: #080809;
    --bt-primary: #0866ff;
    --skill-badge-bg: #e0e0e0;
    --skill-badge-text: #080809;
    --bg-surface: #ffffff;
}
body.dark-mode {
    --bg-white: #252728;
    --bg-body: #1c1c1d;
    --text-primary: #e2e5e9;
    --text-secondary: #dfe2e6;
    --primary-custom: #b8bbbf;
    --bg-primary-custom: #3b3d3e;
    --shadow: 0 4px 12px rgba(0,0,0,0.5);
    --bg-backtotop: #ffffff;
    --bt-primary: #ffffff;
    --skill-badge-bg: #3b3d3e;
    --skill-badge-text: #e2e5e9;
    --bg-surface: #252728;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-primary);
}

.navbar {
    background-color: var(--bg-white) !important;
    box-shadow: var(--shadow);
}
.nav-link {
    color: var(--text-primary) !important;
}
.nav-link:hover {
    color: var(--primary-custom) !important;
}

.bg-primary-custom {
    background-color: var(--bg-white);
    color: var(--primary-custom);
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.bg-primary-custom:hover {
    background-color: var(--bg-primary-custom);
    color: var(--primary-custom);
}

.bg-secondary-custom {
    background-color: #0866ff;
    color: var(--primary-custom);
}
.badge.bg-secondary {
    background-color: var(--skill-badge-bg) !important;
    color: var(--skill-badge-text) !important;
}

.text-primary-custom {
    color: var(--text-primary) !important;
}

.text-secondary {
    color: var(--text-secondary) !important;
}

.bg-white {
    background-color: var(--bg-white) !important;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0866ff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.border-accent {
    border-bottom: 1px solid #ced1d5;
}

.card, .timeline-item, .skill-category, .advantage-item, .project-card, .contact-form, footer {
    background-color: var(--bg-white);
    color: var(--text-primary);
}

.timeline-item {
    border-left: 6px solid #0866ff;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(245, 7, 7, 0.05);
}
.github-link {
    text-decoration: none;
    color: var(--text-primary);
    transition: color 0.2s;
}
.github-link:hover {
    text-decoration: underline;
}

.skill-badge {
    background-color: var(--bg-primary-custom);
    color: var(--text-secondary);
    font-weight: 500;
    padding: 0.4rem 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
    transition: 0.2s;
}

.skill-badge:hover {
    background-color: var(--bg-primary-custom);
    color: var(--text-secondary);
}

.skill-badge.advanced {
    background-color: #0866ff;
}

.project-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
    height: 100%;
}

.project-card:hover {
    transform: scale(1.02);
    border-color: #0866ff;
    box-shadow: 0 10px 25px -5px rgba(10,75,122,0.1);
}

.btn-outline-primary {
    border-color: #0866ff;
    color: var(--bt-primary);
}
.btn-outline-primary:hover {
    background-color: #0866ff;
    color: white;
}

.contact-icon {
    color: var(--text-primary);
    font-size: 1.8rem;
    width: 3rem;
}

.form-control {
    background-color: var(--bg-surface);
    color: var(--text-primary);
}
.form-control:focus {
    background-color: var(--bg-surface);
    border-color: var(--text-primary);
    color: var(--text-primary);
    box-shadow: none;
}
input::placeholder, textarea::placeholder {
    color: var(--text-secondary) !important;
    font-size: 0.9em;
    opacity: 1;
}

#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-backtotop);
    color: var(--bg-white);
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 999;
    transition: background-color 0.3s, transform 0.3s;
}
#backToTop:hover {
    transform: scale(1.1);
}

/* boton modo oscuro */
.dark-mode-toggle {
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 0,5rem;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}

@media (max-width: 991.98px) {
    .dark-mode-toggle {
        margin-left: 0;
        margin-top: 0.5rem;
        justify-content: flex-start;
    }
}